
<div class="container" style="margin-top:40px;">
	<div class="row">
		<div class="col-md-9">
			<h1>
				Hakkımızda
			</h1>
			<p>
				Ostim ve Ivedik OSB bölgesinde, integer condimentum magna at velit rutrum varius. Cras tempor sit amet diam a posuere.
				Aenean iaculis ut est vel pellentesque. Quisque accumsan magna id augue tempus imperdiet.
				Cras metus tortor, varius a dolor nec, vehicula suscipit lorem. Vivamus semper mollis
				placerat. Nullam volutpat diam quis varius hendrerit. Phasellus fermentum rutrum
				mollis. Mauris tincidunt arcu quis ante pellentesque euismod. Etiam a sem a arcu
				commodo molestie vitae id mi. Quisque viverra quam mauris, in sagittis nisl posuere
				at. Praesent ipsum neque, laoreet eget mi et, feugiat consequat mauris. Duis faucibus
				dolor in metus facilisis, nec mattis lacus semper. Concrete Block Machines
			</p>
		</div>
		<div class="col-md-3"><img src="http://upload.wikimedia.org/wikipedia/en/e/ef/Akron_Skyscraper.jpg" alt="" class="img-responsive"></div>
	</div>
</div>
<div style="background-color:#0090dd;padding:30px;color:#fff;">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<p>
					Cras metus tortor, varius a dolor nec, vehicula suscipit lorem. Vivamus semper mollis
					placerat. Nullam volutpat diam quis varius hendrerit. Phasellus fermentum rutrum
					mollis. Mauris tincidunt arcu quis ante pellentesque euismod. Etiam a sem a arcu
					commodo molestie vitae id mi. Quisque viverra quam mauris, in sagittis nisl posuere
					at. Praesent ipsum neque, laoreet eget mi et, feugiat consequat mauris. Duis faucibus
					dolor in metus facilisis, nec mattis lacus semper. Concrete Block Machines
				</p>
			</div>
			<div class="cl-md-6">
				<a href="#/ilanlar"class="btn btn-default" style="color:#fff;background-color:#0090dd;text-align: center; border: 2px solid #fff; ">İlanlarımıza Göz Atın</a>
			</div>
		</div>
	</div>
</div>