<div class="row">
    <div class="col-sm-3">
        <div class="kategoriler" ng-click="hKapat();goster1=!goster1"><a href="javascript:void(0);">Ev Elektroniği</a></div>
        <div class="alt-kategoriler" ng-show="goster1">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster2=!goster2"><a href="javascript:void(0);">Bilgisayar</a></div>
        <div class="alt-kategoriler" ng-show="goster2">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster3=!goster3"><a href="javascript:void(0);">Mobil</a></div>
        <div class="alt-kategoriler" ng-show="goster3">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster4=!goster4"><a href="javascript:void(0);">Elektronik Aksam</a></div>
        <div class="alt-kategoriler" ng-show="goster4">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster5=!goster5"><a href="javascript:void(0);">Yapı Elektroniği</a></div>
        <div class="alt-kategoriler" ng-show="goster5">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster6=!goster6"><a href="javascript:void(0);">Hobi</a></div>
        <div class="alt-kategoriler" ng-show="goster6">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="hKapat();goster7=!goster7"><a href="javascript:void(0);">Motor ve Servolar</a></div>
        <div class="alt-kategoriler" ng-show="goster7">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div><!--
        <div class="kategoriler" ng-click="goster8=!goster8"><a href="javascript:void(0);"></a></div>
        <div class="alt-kategoriler" ng-show="goster8">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="goster9=!goster9"><a href="javascript:void(0);"></a></div>
        <div class="alt-kategoriler" ng-show="goster9">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>
        <div class="kategoriler" ng-click="goster10=!goster10"><a href="javascript:void(0);"></a></div>
        <div class="alt-kategoriler" ng-show="goster10">
            <div class="kategoriler"><a href="javascript:void(0);">Cep Telefonu</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Tablet</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Akıllı Saat</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Navigasyon</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Spor Elektroniği</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">GPS</a></div>
            <div class="kategoriler"><a href="javascript:void(0);">Saha Elektroniği</a></div>
        </div>-->
    </div>
    <div class="col-sm-9">
        <div lupus-disko slides="homeSlides" background="diskoBG"></div>
    </div>
</div>