<div class="container">
	<div class="row">
		<col-md-12>
		<h4>Ankara’da sanayinin kalbi İvedik Organize Sanayi Bölgesi’nde atmaktadır.</h4>
			<p>İvedik OSB, 38 kooperatif ve faal 12.600 iş yeri ile Ankara’nın en büyük, Türkiye’nin sayılı sanayi ve ticaret bölgesidir. Bölge, Ankara’ya on iki kilometre uzaklıktadır; ulaşım metro, dolmuş ve otobüs ile sıkıntısız olarak yapılmaktadır. </p>
			<p>İvedik OSB, Ankara’nın diğer ekonomik yerleşim merkezlerinden Ostim OSB, Hurdacılar Sanayi Sitesi, Ankara Tekstilciler Sanayi Sitesi ile de komşudur. Yerleşim yeri olarak da Demetevler, Batıkent ve Serhat gibi yerleşim yerlerine yakındır ve çevre yolu sayesinde tüm şehirlerarası yollara rahatlıkla bağlantı yapılabilmektedir. 
İvedik OSB’de iş kolları bakımından zengindir. Ağaç işleri, demir sanayi, oto sanayi, hırdavat, cıvata sanayi, kalıp-döküm imalatı, pvc, cam imalatı, elektrik malzemeleri, spor malzemeleri, medikal gibi ekonomik değeri yüksek iş kolları İvedik OSB’nin omurgasını oluşturur. </p>
			<p>Yapmakta olduğumuz İş Merkezleri, bölgenin en işlek caddelerindedir. Bu caddelerde dolmuş, otobüs hattı faal bulunmaktadır. Zemindeki işyerleri, malzeme satış, showroom, restoran, market gibi işyerleri için idealdir. Katlarda bulunan bürolar da ufak parça malzeme satış, avukat, sigorta-aracılık hizmetleri, muhasebe işleri için kullanıma uygundur. 
Binalarımız birinci sınıf malzeme kullanılmaktadır ve depreme dayanıklılık için gerekli koşullar yerine getirilmektedir. İşçilik de uzman ekipler tarafından sürekli kontrol edilmekte ve birinci sınıf titizliğiyle yapılmaktadır. </p>
			<p>Binalarımız, çağın modern görüntü ve kullanımına uygun olarak komple giydirme cepheli, renkli camlı, asansörlü yapılmaktadır. Ayrıca binamızda kapalı devre kamera sistemi, otopark, engelli rampası, çaycı diafon sistemi, uydu anteni, ADSL sistemi mevcuttur. Tüm işyerlerinde mutfak ve doğalgaz sistemi mevcuttur. Koridorlar mermer granittir. İşyerimiz için organize sanayi bölgesi yatırım teşviki alınabilir. </p>
			<p>Bankalardan almayı düşündüğünüz kredilerinizde özel anlaşmamız uyarınca düşük faizle kullanmanıza yardımcı oluruz.</p>
		</col-md-12>
	</div>
</div>



