<div class="container" style="margin-top:40px;">
    <hr/>
	<div class="row">
		<div class="col-md-9">
            {{ilan}}
			<form class="form-horizontal" name="yeniIlan" role="form">
				<div class="form-group " ng-class='{"has-error":yeniIlan["ilan-turu"].$invalid}'>
					<label for="ilan-turu" class="col-sm-2 control-label">
						İlan Türü
					</label>
					<div class="col-sm-10">
						<select name="ilan-turu" id="ilan-turu" ng-model="ilan.ilanTuru" ng-options="it.name for it in ilanTurleri" class="form-control"required>
							<option value="">----İlan Türü Seçiniz----</option>
						</select>
					</div>
				</div>
				<div class="form-group"  ng-class='{"has-error":yeniIlan["gayrimenkul-turu"].$invalid}' >
					<label for="gayrimenkul-turu" class="col-sm-2 control-label">
						Gayrimenkul Türü
					</label>
					<div class="col-sm-10">
						<select name="gayrimenkul-turu" id="gayrimenkul-turu" ng-options="gt.name for gt in gayrimenkulTurleri" ng-model="ilan.gayrimenkulTuru"
						class="form-control" required>
						<option value="">----Gayrimenkul Türü Seçiniz----</option>
							
						</select>
					</div>
				</div>
				<div class="form-group" ng-class='{"has-error":yeniIlan.fiyat.$invalid}'>
					<label for="fiyat" class="col-sm-2 control-label">
						Fiyatı
					</label>
					<div class="col-sm-10">
						<input type="number" min="0" class="form-control" ng-model="ilan.fiyat" id="fiyat" name="fiyat" placeholder="Fiyat" required>
						<p class="help-block alert" ng-show="">Example block-level help text here.</p>
					</div>
				</div>
				<div class="form-group" ng-class='{"has-error":yeniIlan.baslik.$invalid}'>
					<label for="baslik" class="col-sm-2 control-label">
						İlan Başlığı
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="ilan.baslik" id="baslik" name="baslik" placeholder="İlan Başlığı" required>
					</div>
				</div>
				<div class="form-group" ng-class='{"has-error":yeniIlan["aciklama-metni"].$invalid}'>
					<label for="aciklama-metni" class="col-sm-2 control-label">
						Açıklama Metni
					</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" ng-model="ilan.aciklamaMetni" class="form-control"
						id="aciklama-metni" name="aciklama-metni" required>
						</textarea>

					</div>
				</div>
				<div class=" form-group form-inline ">
					<div class="col-sm-offset-2 col-sm-10" ng-repeat="ozellik in ilan.ozellikler">
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Toplan Alan" ng-model="ozellik.key">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="300 m2" ng-model="ozellik.value">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<button class="form-control btn btn-danger btn-sm" ng-click="ilan.ozellikler.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-5 col-sm-offset-2">
						<button class="btn btn-default btn-sm " ng-click="ilan.ozellikler.push({key:'',value:''})">
							<span class="glyphicon glyphicon-plus">
							</span>
							Özellik Ekle
						</button>
					</div>
				</div>
				<hr/>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button  ng-disabled="yeniIlan.$invalid || wait"  type="submit" ng-click="kaydet(); reset(); " class="btn btn-default btn-lg">
							Kaydet
						</button>
						<button  type="reset" ng-click="yeniIlan.$reset();" class="btn btn-default btn-lg btn-warning">
							Sıfırla
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-3">
		    <div class="row">
		        <div class="col-md-12" ng-controller="GorsellerCtrl">
		            <div ng-show="dropSupported" class="lupus-gorsel-upload" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">Dosyaları buraya sürükleyip bırakınız.</div>
		            <div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				<img class="img-responsive" ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<span class="progress-display" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>				
				<button class="btn btn-sm btn-danger" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">İptal</button>

			</div>
		</div>
		        </div>
		    </div>
		</div>
	</div>
</div>